_gpgconv="gpg2 -d --quiet --yes --compress-algo=none --no-encrypt-to"
if [ "$(git config diff.gpg.textconv)" != "$_gpgconv" ]; then
    git config diff.gpg.binary true
    git config diff.gpg.textconv "$_gpgconv"
fi

export PASSWORD_STORE_DIR=$PWD

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

use flake
