_gpgconv="gpg2 -d --quiet --yes --compress-algo=none --no-encrypt-to"
if [ "$(git config diff.gpg.textconv)" != "$_gpgconv" ]; then
    git config diff.gpg.binary true
    git config diff.gpg.textconv "$_gpgconv"
fi

export PASSWORD_STORE_DIR=$PWD
